*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: lightpink;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 10vw;
  height: 70vh;
  background-color: lightblue;
}

.grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  width: 70vmin;
  height: 70vmin;
  background-color:white;
}

.grid > input {
  background-color: transparent;
  outline: none;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  text-align: center;
  border: none;
  border: 1px solid black;
  border-collapse: collapse;
}

/*  vertical borders */
 
.grid > input:nth-of-type(9n + 3) {
  border-right: 2px solid black;
  /* background-color: lightpink; */
}

.grid > input:nth-of-type(9n ) {
  border-right: 2px solid black;

}

.grid > input:nth-of-type(9n + 6) {
  border-right: 2px solid black;
}

.grid > input:nth-of-type(9n - 8) {
  border-left: 2px solid black;
}

/*  horizontial borders */


.grid > input:nth-of-type(n + 73) {
  border-bottom: 2px solid black;
}

.grid > input:nth-of-type(27n + 1) {
  border-top: 2px solid black;
}

.grid > input:nth-of-type(27n + 1) {
  border-top: 2px solid black;
}

.grid > input:nth-of-type(27n + 2) {
  border-top: 2px solid black;
}

.grid > input:nth-of-type(27n + 3) {
  border-top: 2px solid black;
}

.grid > input:nth-of-type(27n + 4) {
  border-top: 2px solid black;
}

.grid > input:nth-of-type(27n + 5) {
  border-top: 2px solid black;
}

.grid > input:nth-of-type(27n + 6) {
  border-top: 2px solid black;
}

.grid > input:nth-of-type(27n + 7) {
  border-top: 2px solid black;
}

.grid > input:nth-of-type(27n + 8) {
  border-top: 2px solid black;
}

.grid > input:nth-of-type(27n + 9) {
  border-top: 2px solid black;
}



/*  removing selector arrows from each input element */

.grid > input::-webkit-outer-spin-button,
.grid > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.grid > input:hover {
  background-color: rgb(101, 101, 190) !important;
}


.colored {
  color :black !important;
}

.odd {
  background-color:  rgb(187, 184, 184) !important;
}

.userinput {
  color: red !important;
}