  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
  background-color: rgb(7, 7, 83);
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: clamp(50dvh,100dvh,100dvh);
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  width: 70vmin;
  background-color: lightblue;
  flex-wrap: wrap;
  gap: .5rem;
  padding: .5rem;
  border-radius:.25rem;
}

.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  width: 70vmin;
  height: 70vmin;
  background-color:white;

}

.grid > input {
  background-color: transparent;
  outline: none;
  font-size: larger;
  width: 100%;
  height: 100%;
  text-align: center;
  border: none;
  border: 1px solid black;
  border-collapse: collapse;
  user-select: none;
}

/*  vertical borders */
 
.grid > input:nth-of-type(9n + 3) {
  border-right: 2px solid black;
  /* background-color: lightpink; */
}

.grid > input:nth-of-type(9n ) {
  border-right: 2px solid black;

}

.grid > input:nth-of-type(9n + 6) {
  border-right: 2px solid black;
}

.grid > input:nth-of-type(9n - 8) {
  border-left: 2px solid black;
}

/*  horizontial borders */


.grid > input:nth-of-type(n + 73) {
  border-bottom: 2px solid black;
}

.grid > input:nth-of-type(27n + 1) {
  border-top: 2px solid black;
}

.grid > input:nth-of-type(27n + 1) {
  border-top: 2px solid black;
}

.grid > input:nth-of-type(27n + 2) {
  border-top: 2px solid black;
}

.grid > input:nth-of-type(27n + 3) {
  border-top: 2px solid black;
}

.grid > input:nth-of-type(27n + 4) {
  border-top: 2px solid black;
}

.grid > input:nth-of-type(27n + 5) {
  border-top: 2px solid black;
}

.grid > input:nth-of-type(27n + 6) {
  border-top: 2px solid black;
}

.grid > input:nth-of-type(27n + 7) {
  border-top: 2px solid black;
}

.grid > input:nth-of-type(27n + 8) {
  border-top: 2px solid black;
}

.grid > input:nth-of-type(27n + 9) {
  border-top: 2px solid black;
}



/*  removing selector arrows from each input element */

.grid > input::-webkit-outer-spin-button,
.grid > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.grid > input:hover {
  background-color: rgb(101, 101, 190) !important;
}


.colored {
  color :black !important;
}

.odd {
  background-color:  rgb(187, 184, 184) !important;
}

.userinput {
  color: rgb(7, 7, 83) !important;
}

.machine {
  color : green !important;
}

.red {
  color: greenyellow !important;
}


button {
  width:10rem;
  background-color: #1890ff;
  color: #fff;
  border:none;
  border-radius: .25rem;
  padding:.25rem .5rem;
  outline: none;
  font-family:'Roboto', sans-serif !important;
  cursor: pointer;
}

.grade {
  width:10rem;
  display: flex;
  flex-direction: column;
}

.grade > button:last-of-type {
  margin-bottom:.5rem;
}



button:hover {
  background-color: #40a9ff;
}

button:active {
  background-color: #096dd9;
}

h2 {
  color: white;
  margin-top: 1rem;
}

select {
  appearance: none;
  background-color: #f5f5f5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23333' d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  border: none;
  border-radius: 0.25rem;
  color: #333;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  margin-top: .5rem;
}


option {
  background-color: #f5f5f5;
  color: #333;
  font-size: 1rem;
  padding: 0.5rem;
}

option:hover {
  background-color: #ddd;
}

option:checked {
  background-color: #bbb;
}



.lds-hourglass {
  position: absolute; /* Position the element */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 70vw;
  height: 70vh;
}


.lds-hourglass:after {
  content: " ";
  display: flex;
  border-radius: 50%;
  width: 0;
  height: 0;
  transform: translate(50%,50%);
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}


